<main class="main">
  <div class="grid">
    <div class="col-3 navbar-section-container">
      <div class="text-center p-0 font-bold navbar-section-content flex flex-column justify-content-between">
        <div class="navbar-header">
          <h4>Ascentia</h4>

          <div>
            <h5 class="recent-question-heading flex align-items-start">Recent list of questions</h5>
            <ol class="flex flex-column align-items-start">
              <li *ngFor="let query of recentQueries" class="query-list">{{query}}</li>
            </ol>
          </div>
        </div>

        <div class="navbar-feedback">
          Feedback
        </div>
      </div>
    </div>
    <div class="col-8 main-section-container flex flex-column justify-content-between">
      <div class="">
        <h2 class="flex justify-content-center">
          Ask Questions About Ascentia
        </h2>
        <h3 class="font-bold">{{questionAsked}}</h3>
        <span *ngIf="isLoading">Loading...</span>
        <div *ngIf="!isLoading" [innerHTML]="ascentiaAnswer">
        </div>

        
      </div>
      <div class="text-center p-0 font-bold main-section-content flex flex-column">
        <div class="flex flex-row flex-wrap">
          <div *ngFor="let tocSection of faqs" class="button-wrapper">
            <!-- <button (click)="onBtnClick(tocSection)">{{tocSection}}</button> -->
            <p-button [label]="tocSection" (click)="onBtnClick(tocSection)"></p-button>
          </div>
        </div>

        <textarea class="text-area-container" rows="5" cols="100" pInputTextarea [(ngModel)]="value"></textarea>

        <div class="card flex justify-content-center submit-btn-wrapper">
          <p-button label="SUBMIT" (onClick)="submit()"></p-button>
        </div>
      </div>
    </div>
  </div>

  <div class="left-side"></div>
  <div class="content">
  </div>
</main>


<router-outlet></router-outlet>