
<main class="main">
  <div class="grid">
    <div class="col-3 navbar-section-container">
        <div class="text-center p-0 font-bold navbar-section-content flex flex-column justify-content-between">
          <div class="navbar-header">
            Ascentia
          </div>
          <div class="navbar-feedback">
            Feedback
          </div>
        </div>
    </div>
    <div class="col-8 main-section-container flex flex-column justify-content-between">
      <div class="">
        <h2>
          Get answers here
        </h2>
        <h3 class="font-bold">{{questionAsked}}</h3>
        <div>
          {{ascentiaAnswer}}
        </div>
      </div>
        <div class="text-center p-0 font-bold main-section-content flex flex-column">
           <textarea rows="5" cols="100" pInputTextarea [(ngModel)]="value"></textarea>

          <div class="card flex justify-content-center">
            <p-button label="Submit" (onClick)="submit()"></p-button>
          </div>
        </div>
    </div>
</div>

  <div class="left-side"></div>
  <div class="content">
  </div>
</main>


<router-outlet></router-outlet>
