

.navbar-section-container {
  height: 100vh;
  padding: 0;
  background-color: black;
  color: white;
}

.main-section-container {
  height: 100vh;
  padding: 1rem;
}

.navbar-section-content {
  height: 100%;
  padding: 0;
}

.main-section-content {
  padding: 0;
}

.navbar-header {
  margin-top: 1rem;
  font-size: 2rem;
  color: white;
}

.navbar-feedback {
  margin-bottom: 3rem;
  font-size: 1rem;
  color: whitesmoke;
}

.recent-question-heading {
  font-size: 1rem;
  margin-left: 2rem;
}

ul {
  list-style-type: none;
}

.query-list {
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.button-wrapper {
  margin: .5rem;
}

.submit-btn-wrapper {
  margin: .5rem;
}

.text-area-container {
  margin: 1rem 0;
}
